region      = "リージョン"
name_prefix = "名前のプレフィックス"

vpc_id          = "VPCID入れてね"
proxy_subnet_id = "SubnetIDいれてね" # Public
app_subnet_id   = "SubnetIDいれてね" # Private推奨
db_subnet_id    = "SubnetIDいれてね" # Private推奨

key_name   = "SSHキーペア名"
admin_cidr = "VPCのCIDER(ADDRESS/PREFIX)"

proxy_instance_type = "t4g.micro"
app_instance_type   = "t3a.medium"
db_instance_type    = "t4g.micro"

# インターネットに出ないならfalse
proxy_public_ip = true
app_public_ip   = false
db_public_ip    = false
